.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: white;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header span:last-child {
  position: relative;
}
.cog__dot {
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  bottom: 18px;
}
